<div class="main  ">
	

<div class="row   " style="margin-top: 150px">
   
  <p class="alert"><%=alert%></p>
	<div class="col justify-content-between" style="margin-left: 0px">	
		<div class="fluid-jumbotron bg-secondary ">
		<h1 class="display-1"><strong> Bienvenido!! </strong></h1>
		<h3 class="display-3 ">a GPI</h3>
		<h2><strong>la mejor empresa del multiverso</strong></h2>
		</div>
	</div>
	<div class="col">	
		<img src="../logo.png" class="float-right rounded" style="margin-right: 100px" height= "400px" width="400px">
	</div>
</div>

</div>