

<div class="container" style="margin-top: 100px">



	<%= @test["materiales"].each do |algo|%>
	<ul class="list-inline bg-light">
		<li class=" shadow p-1  mb-1 border-list-inline-item bg-primary"> material: <%=algo["producto"]%></li>
		<li class=" shadow p-1  mb-1 list-inline-item bg-light"> provedor: <%=algo["provedor"]%></li>
		<li class=" shadow p-1  mb-1 list-inline-item bg-light"> Precio <%=algo["precio"]%></li>
	</ul>
<%end%>
	
</div>